<div ng-controller="HomeCtrl">
    <div class="alert alert-primary" role="alert">
        General Election 2019 Schedules and much more..
    </div>
    <div class="mg-b-10">
        <div class="card">
            <div class="card-body bg-light">

                <div class="container form-group ">
                    <div class="row">
                        <div class="col">
                            <label for="State"><strong>Select State: </strong></label>
                            <select id="State" ng-model="selectedState" ng-change="stateSelect()"
                                ng-options="selectState for (selectState, selectConstituency) in Data">
                            </select>
                        </div>
                        <div class="col">
                            <label for="selectConstituency"><strong>Select Constituency: </strong></label>
                            <select id="Constituency" ng-disabled="!selectedState" ng-model="selectedConstituency"
                                ng-change="constituencySelect()" ng-options="c.Constituency for c in selectedState">
                            </select>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row" ng-If="selectedConstituency">
                    <div class="col">
                        <ul class="list-group shadow-sm p-3 mb-5 bg-white rounded">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center list-group-item-info">
                                <strong>Loksabha Constituency Details </strong>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Constituency : </strong>{{selectedConstituency.Constituency}}
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>State / UT : </strong>{{selectedConstituency.State}}
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Constituency Reservation Type : </strong>{{selectedConstituency.Type}}
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Current MP : </strong>{{selectedConstituency.MP_2014}}
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Current Party : </strong>{{selectedConstituency.Party_2014}}
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Current MP Profile : </strong> <a href="{{Links.MPProfile}}" target="_blank"
                                    class="card-link">Click to view</a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Politicians from {{selectedConstituency.Constituency}} : </strong> <a
                                    href="{{Links.AllNeta}}" target="_blank" class="card-link">Click to view</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="list-group shadow-sm p-3 mb-5 bg-white rounded">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center list-group-item-info">
                                <strong>Loksabha Election 2019 Schedule</strong>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>{{Schedule.Announcement}} : </strong>Announcement & Issue of Press Note
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>{{Schedule.Notification}} : </strong>Issue of Notification
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>{{Schedule.Last_Date}} : </strong>Last Date for filing Nominations
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>{{Schedule.Scrutiny}} : </strong>Scrutiny of Nominations
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>{{Schedule.Last_Date_Withdrawal}} : </strong>Last date for withdrawal of
                                Candidature
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center list-group-item-warning">
                                <strong>{{Schedule.Poll}} : </strong>Date of Poll
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>{{Schedule.Counting}} : </strong>Counting of Votes on
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>{{Schedule.Completion}} : </strong>Deadline of Completion
                            </li>
                        </ul>
                    </div>
                </div>
                <hr ng-If="selectedConstituency" />
                <div class="row" ng-If="selectedState">
                    
                    <div class="col">
                        <ul class="list-group shadow-sm p-3 mb-5 bg-white rounded">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center list-group-item-info">
                                <strong>{{StateData.State}} : Partywise Seat Share</strong>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center" ng-Repeat="party in StateData.Parties | orderBy: '-Seats.length'">
                                <strong>{{party.Name}} : </strong>{{party.Seats.length}}
                            </li>                            
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="list-group shadow-sm p-3 mb-5 bg-white rounded">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center list-group-item-info">
                                <strong>{{StateData.State}} : Seat Reservation Stats</strong>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Total Seat Count : </strong>{{StateData.Total_Seat}}
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>GEN Seats Count : </strong>{{StateData.GEN_Seat}}
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>SC Seats Count : </strong>{{StateData.SC_Seat}}
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>ST Seats Count : </strong>{{StateData.ST_Seat}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-warning" role="alert" ng-If="!Data">
        Please wait while data is being fetch from server..
    </div>
</div>