main {
    margin-top: 75px;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    font-family: 'Segoe UI' !important;
}

footer {
    bottom: 0;
    top: 20px;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
select{
    min-width: 220px;
    height: 30px;
    padding-bottom: 5px;
}
strong{
    font-family: 'Segoe UI Semibold' !important;    
}
.mg-b-10{
    margin-bottom: 10px;
}
.title-text{
    color: purple;
    font-family: 'Segoe UI Semibold' !important;  
    text-decoration: none !important;
    font-weight: bold;
}

ul, li, div, span, p {
    font-size: 11pt;
}
label > strong{
    font-size: 12pt;
}

.col{
    margin-bottom: 5px;   
}

@media only screen and (max-width: 600px) {
    .col{
        margin-bottom: 5px; min-width: 100%;    
    }

    .col > label {
        min-width: 100%;
    }
  }